{% extends 'base.html' %}

{% block content %}

<h1>Register</h1>





<footer class="footer fixed-bottom bg-light py-3">
    <center>
        <p>Copyright © 2025 JohnJabZ.<br>
            All rights reserved.<br>
            This Project Tracker and its associated content, structure, design, and source code are the
            intellectual property of JohnJabZ.<br>
            No part of this product may be reproduced, distributed, or modified without prior written permission.
        </p>
    </center>
</footer>
{% endblock %}