{% extends 'base.html' %}
{% load tz %}
{% block content %}

{% if user.is_authenticated %}
{% load static %}
<style>
    .table-container {
        max-height: 70vh;
        overflow-y: auto;
        border: 2px solid #ddd;
    }

    /* Required for sticky header to align correctly */
    .table-container table {
        border-collapse: separate;
        border-spacing: 0;
    }

    /* Sticky header */
    .sticky-header th {
        position: sticky;
        top: 0;
        z-index: 20;
        /* must be higher than table body */
        background: #212529 !important;
        color: white !important;
    }
</style>
<div class="container-fluid px-4">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h1 class="fw-bold">Survey List</h1>

        <div>
            {% if user.is_superuser %}
            <button class="btn btn-success px-4 me-2" data-bs-toggle="modal" data-bs-target="#importModal">
                📥 Import
            </button>

            {% endif %}
            <a class="btn btn-warning px-4 me-2" href="{% url 'export_survey_csv' %}">
                📤 Export CSV
            </a>

            <a class="btn btn-info px-4 me-2" href="{% url 'export_survey_excel' %}">
                📄 Export Excel
            </a>

            <a class="btn btn-primary px-4" href="{% url 'add_survey_record' %}">
                + Add Site
            </a>
        </div>
    </div>
    <!-- Import Modal -->
    <div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{% url 'import_survey' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="importModalLabel">Import Survey Data</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <label>Select CSV or Excel file:</label>
                        <input type="file" name="file" class="form-control" required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="input-group my-3">
        <span class="input-group-text bg-dark text-white"><i class="bi bi-search"></i></span>
        <input id="searchInput" type="search" class="form-control form-control-lg rounded-end"
            placeholder="Search any field... ">
    </div>
    <div class="table-container">
        <table class="table text-center table-striped table-hover table-bordered table-sm">
            <thead class="table-dark sticky-header">
                <tr>
                    <th>Cluster Name</th>
                    <th>Work Order</th>
                    <th>Project Type</th>
                    <th>Region</th>
                    <th>RITM</th>
                    <th>Target Area</th>
                    <th>Assigned Date</th>
                    <th>Status</th>
                    <th>Responsible</th>
                    <th>Tools Stage</th>
                    <th>Tools WO Status</th>
                    <th>Priority</th>
                    <th>Remarks</th>
                    <th>Updated At</th>
                    <th>Updated By</th>
                </tr>
            </thead>
            <tbody id="surveyTable">
                {% if surveys %}
                {% for survey in surveys %}
                <tr>
                    <td>{{ survey.cluster_name }}</td>
                    <td><a href="{% url 'survey_detail' survey.id %}">{{ survey.work_order }}</a></td>
                    <td>{{ survey.project_type }}</td>
                    <td>{{ survey.region }}</td>
                    <td>{{ survey.RITM }}</td>
                    <td>{{ survey.target_area }}</td>
                    <td>{{ survey.date_assigned }}</td>

                    <!-- STATUS -->
                    <td class="
                    {% if survey.status == 'In Progress' %}wo-in-progress
                    {% elif survey.status == 'Completed' %}wo-completed
                    {% elif survey.status == 'Cancelled' %}wo-cancelled
                    {% endif %}
                ">{{ survey.status }}</td>

                    <td>{{ survey.responsible }}</td>

                    <!-- TOOLS -->
                    <td class="
                    {% if 'pip submission' in survey.tools|lower %}tools-pip-submission
                    {% elif 'pip approval' in survey.tools|lower %}tools-pip-approval
                    {% elif 'survey submission' in survey.tools|lower %}tools-survey-submission
                    {% elif 'survey approval' in survey.tools|lower %}tools-survey-approval
                    {% elif 'completed' in survey.tools|lower %}tools-completed
                    {% elif 'for cancellation' in survey.tools|lower %}tools-for-cancellation
                    {% elif 'cancelled' in survey.tools|lower %}tools-cancelled
                    {% endif %}
                    ">
                        {{ survey.tools }}
                    </td>


                    <!-- WO STATUS -->
                    <td class="
                    {% if survey.wo_status == 'In Progress' %}wo-in-progress
                    {% elif survey.wo_status == 'Completed' %}wo-completed
                    {% elif survey.wo_status == 'Cancelled' %}wo-cancelled
                    {% endif %}
                ">{{ survey.wo_status }}</td>

                    <!-- PRIORITY -->
                    <td class="
                    {% if survey.priority == 'Urgent' %}priority-urgent
                    {% elif survey.priority == 'High' %}priority-high
                    {% elif survey.priority == 'Low' %}priority-low
                    {% elif survey.priority == 'Done' %}priority-done
                    {% endif %}
                ">{{ survey.priority }}</td>

                    <td>{{ survey.remarks }}</td>
                    <td>{{ survey.updated_at }}</td>
                    <td>{{ survey.updated_by }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>


{% else %}
<div class="container text-center mt-5">
    <h1 class="display-5 fw-bold">Telecom Project Tracker</h1>
    <p class="lead mt-3">A centralized platform for managing telecom construction projects from planning to invoicing.
    </p>
</div>

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-4">
            <h5>📍 Track Work Progress</h5>
            <p>Monitor the status of telecom construction stages such as HLD, LLD, Implementation, DCR, and Invoice.</p>
        </div>
        <div class="col-md-4">
            <h5>📂 Organized Documentation</h5>
            <p>Store project details, deliverables, and approvals in one secure platform.</p>
        </div>
        <div class="col-md-4">
            <h5>📊 Real-time Status</h5>
            <p>Stay updated with accurate progress monitoring and reduce manual reporting.</p>
        </div>
    </div>
</div>
<div class="container mt-5 text-center">
    <h3>Built for Telecom Construction Teams</h3>
    <p>Streamline your workflow, reduce errors, and improve project visibility across all phases.</p>
</div>
<div class="text-center mt-4 mb-5">
    <a href="{% url 'register' %}" class="btn btn-success btn-lg px-5">Get Started</a>
</div>


<center>
    <footer class="footer fixed-bottom bg-light py-3">

        <p>Copyright © 2025 JohnJabZ.<br>
            All rights reserved.<br>
            This Project Tracker and its associated content, structure, design, and source code are the
            intellectual property of JohnJabZ.<br>
            No part of this product may be reproduced, distributed, or modified without prior written permission.
        </p>

    </footer>
</center>
{% endif %}


{% endblock %}